/* Responsive Style */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

body{
    font-family: 'Poppins', sans-serif;
    padding: 20px;
    width: 960px;
    margin: 0 auto;
    max-width: 100%;
    color: #424242;
}

img{
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.nav-bar ul li{
    list-style: none;
    font-size: 0.9rem;
}

.nav-bar li{
    display: inline;
    margin-right: 15px;
}

.nav-bar{
    padding-bottom: 20px;
}

.nav-bar a:visited{
    color: black;
}

.title, .quick-intro, p{
    margin-bottom: 10px;
}

.quick-intro{
    border-bottom: 1px gray solid;
}

.quick-intro h4{
    padding-top: -5px;
}

.social-media ul li{
    list-style: none;
    font-size: 0.8rem;

}

.social-media li{
    display: inline;
    margin-right: 15px;
}

.social-media{
    text-align: center;
}

.social-media  a:visited{
    color: black;
}

/* Projects file */

main h1{
    margin-bottom: 10px;
}

.project h2{
    margin-bottom: 20px;
}

.project-links ul li{
    list-style: none;
    font-size: 0.5rem;

}

.project-links li{
    display: inline;
    margin-right: 15px;
}

.project-links{
    margin-bottom: 10px;
}

.project-links a:visited{
    color: black;
}

/* Resume */

.short-intro, .employment, .education{
    border-bottom: 1px gray solid;
}

.strong{
    font-weight: 800;
}